<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Better fund allocation!</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <h1>Efficient routing of funds in the system</h1>
    <form action="/solve" method="POST">
        <label for="graphInput">Enter graph details</label>
        <textarea name="graphInput" id="graphInput" rows="10" cols="50"></textarea><br>
        <button type="submit">Submit</button>
    </form>

    {% if image_path %}
    <h2>Graph Output:</h2>
    <img src="{{ image_path }}" alt="Graph Visualization">
    {% endif %}
    
</body>
</html>
