<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Better fund allocation!</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <h1>Efficient routing of funds in the system</h1>
    <form action="/solve" method="POST">

        <label for="node_number">Enter number of nodes</label>
        <textarea name="node_number" id="node_number" rows="1" cols="1"></textarea><br>

        <label for="edge_number">Enter number of edges</label>
        <textarea name="edge_number" id="edge_number" rows="1" cols="1"></textarea><br>
        
        <label for="edges">Enter edges</label>
        <textarea name="edges" id="edges" rows="5" cols="25"></textarea><br>

        <label for="sources">Enter the souces</label>
        <textarea name="sources" id="sources" rows="1" cols="1"></textarea><br>

        <label for="sinks">Enter the sinks</label>
        <textarea name="sinks" id="sinks" rows="1" cols="1"></textarea><br>

        <label for="source_capacities">Enter the source capacities</label>
        <textarea name="source_capacities" id="source_capacities" rows="1" cols="1"></textarea><br>

        <label for="node_names">Enter the node names</label>
        <textarea name="node_names" id="node_names" rows="5" cols="1"></textarea><br>

        <button type="submit">Submit</button>
    </form>

    {% if image_path %}
    <h2>Graph Output:</h2>
    <img src="{{ image_path }}" alt="Graph Visualization">
    {% endif %}

</body>
</html>
